@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2);

    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2);

    font-display: swap;
}

html {
  height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    background: #F2F2F2;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

.button {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}

.link-button {
  background-color: #756157;
}

.link-button:hover,
.link-button:focus {
  background-color: #615048;
}

.link-button:active span,
.submit-button:active span {
  opacity: 30%;
}

.submit-button {
  background-color:#82B3D3;
}

.submit-button:hover,
.submit-button:focus {
  background-color:#68A2CA;
}

.main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin: 0;
  width: 1060px;
}

.navigation-link {
  padding: 0 16px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.pages-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation-link.header-logo img {
  display: block;
  margin-bottom: -6px;
  position: relative;
}

.navigation-link.header-logo {
  padding: 0;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-list.navigation-user {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 176px;
  padding: 0;
  margin: 0;
}

.navigation-item {
  position: relative;
}

.icons {
  display: block;
  min-width: 44px;
  min-height: 64px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.site-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  padding: 0;
  margin: 0;
}

.likes-number {
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 2px;
  z-index: 1;
}

.navigation-link-active::before {
  content: "";
  width: 68px;
  height: 2px;
  background-color: #756257;
  position: absolute;
  top: 46px;
}

.navigation-link.button {
  display: block;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  padding: 8px 5px;
  min-width: 160px;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0;
}

.hero {
  background-color:#82B3D3;
  background: url("../images/hero-flag.png") no-repeat center bottom,
              url("../images/hero-background.jpg") no-repeat center;
  background-size: 100% auto, cover;
  padding-top: 51px;
  padding-bottom: 85px;
  border: 0;
}

.sedona-text {
  display: block;
  margin: 0 auto;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 0;
  margin: 0 auto;
  text-align: center;
}
.advertisement {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-advertisement {
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
  width: 620px;
}

.article {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  display: block;
}


.advantages {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.advantages-list-item {
  padding: 101.5px 85px;
  width: 230px;
}

.advantages-title::after {
  content:"";
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
  position: absolute;
  top: 86px;
  left: 85px;
  right: 85px;
}


.sedona-view {
  display: block;
  margin: 0;
  padding: 0;
}

.city-view {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

.complex-block {
  padding: 101.5px 85px;
  width: 230px;
}

.bridge {
  display: block;
  margin: 0;
  padding: 0;
}

.devil-bridge {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

.advantages-list-item {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.recomendations-list-item h3 {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list p,
.recomendations-list p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.recomendations-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.recomendations-list-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 81px 85px;
  margin: 0 auto;
}

.recomendations-list-item::before {
  content: "";
  min-width: 75px;
  min-height: 72px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.house::before {
  background-image: url("../images/apartments.svg");
}

.food::before {
  background-image: url("../images/food.svg");
}

.souvenier::before {
  background-image: url("../images/souveniers.svg");
}

.square,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.announcement,
.search {
  text-align: center;
}

 .recomendations .announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  margin: 0;
 }

 .invitation-advertisement {
  width: 505px;
  margin-bottom: 20px;
  margin-top: 0;
 }


.house,
.souvenier {
  background: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 592px;
  padding: 96px 304px;
  margin: 0;
}

.hotels-advertisement {
  margin: 0 0 20px;
  padding: 0;
}

.hotels-article {
  margin-bottom: 54px;
}

.hotels.button {
  display: block;
  min-width: 376px;
  padding: 8px 5px;
  margin: 0;
}

.page-footer {
  padding: 0;
  margin: 0;
}

.email::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}
.main-subscription {
  color: #FFFFFF;
  text-align: center;
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-color: #82B3D3;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 96px 258px 104px;
  width: 684px;
}

.subscription-preview {
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 54px;
}

.main-subscription .action {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.main-subscription .note {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.subscription-form {
  display: flex;
  justify-content: stretch;
}

.email {
  box-sizing: border-box;
  padding: 14px 20px;
  width: 432px;
  margin: 0;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}


.subscription.button {
  min-width: 232px;
  padding: 8px 5px;
  border-radius: 0 4px 4px 0;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  padding: 40px 70px;
  margin: 0;
}

.social-list {
  list-style-type: none;
  display: flex;
  width: 200px;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.footer-contact-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: #756157;
}

.footer-contact-phone:active {
  color: #756157;
  opacity: 30%;
}

.social {
  display: block;
  min-width: 47.33px;
  min-height: 40px;
  color: #000000;
  text-decoration: none;
}

.social-link {
  position: absolute;
  right: 0;
  left: 12px;
  top: 12px;
  bottom: 0;
  margin: 0;
}

.social-list-item {
  position: relative;
}

.social:hover .social-link {
  fill:#68A2CA;
}

.logo {
  min-width: 115px;
  min-height: 33px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.developer-logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.logo:hover .developer-logo {
  fill: #756157;
}

.logo:focus .developer-logo {
  fill: #756157;
}

.logo:active .developer-logo {
  fill: #756157;
  opacity: 30%;
}

.main-head {
  background-image: url(../images/filters.jpg);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  background-color: #82B3D3;
  color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 70px;
}

.content {
  display: flex;
  width: 1060px;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-title {
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin-top: 0;
margin-bottom: 8px;
}

.catalog-header {
  padding-top: 0;
  padding-bottom: 40px ;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  color:#FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link.home {
  min-width: 12px;
  min-height: 12px;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link::before {
  content: url(../images/icons/arrow.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
  left: -17px;
}

.breadcrumbs-item {
  margin-right: 20px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 10px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.radio-list, .checkbox-list {
  list-style-type: none;
}

.general-filters-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filters-container {
  display: flex;
  width: 370px;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infrastructure,
.house-filter {
  width: 150px;
  padding: 0;
}

.costs {
  width: 549px;
}

.costs-input {
  display: flex;
  justify-content: stretch;
}

.costs-filter {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cost {
  width: 143px;
  height: 48px;
  padding: 0;
  margin-bottom: 36px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 32px;
}

.checkbox-list,
.radio-list {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.checkbox-list-item,
.radio-list-item {
  margin-bottom: 16px;
}


.cost {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.filter-buttons {
  width: 191px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.filter-buttons .button:not(:last-child) {
  margin-bottom: 32px;
}

.filter-buttons .submit-button,
.filter-buttons .reset-button {
  min-width: 191px;
}

.filter-buttons .reset-button {
  background-color: transparent;
}

.filter-buttons .reset-button:active span,
.filter-buttons .reset-button:hover {
  opacity: 30%;
}

.filter-buttons .reset-button:focus {
  outline: #83B3D3 solid 3px;
}

.catalog-header-container {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px;
  margin: 0;
}

.catalog-header-container h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  width: 522px;
}

.sorting-view-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 160px;
}

.sorting {
  font-size: 18px;
  line-height: 21px;
}

.sorting-view-button {
  position: relative;
}

.sorting-view-button:not(:last-child) {
  margin-right: 8px;
}

.sorting-view-toggle {
  display: block;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
  margin: 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-view-toggle:hover {
  border-color: #000000;
}

.sorting-view-toggle:focus {
  border-color: #68A2CA;
}

.sorting-view-toggle:active {
  border-color: #000000;
}

.toggle-current {
  border-color: #000000;
}

.sorting-type {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto auto auto auto;
  gap: 16px 20px;
  padding: 20px;
  width: 340;
  border: #E6E6E6 solid 1px;
  list-style-type: none;
}

.product-list {
 display: grid;
 grid-template-columns: 340px 340px 340px;
 grid-template-rows: auto auto;
 gap: 20px 20px;
 margin: 0 70px 80px;
 padding: 0;
}

.hotel {
  display: block;
  object-fit: scale-down;
}

.product-card-title {
  grid-column: 1 / -1;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.type {
  padding: 0;
  margin: 0;
  color:#333333;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.hotel-cost {
  color:#333333;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.favorite {
  display: block;
  padding: 8px 5px;
  margin: 0;
  color:#FFFFFF;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.favorite.added {
  background-color: #7DB54F;
}

.favorite.added:hover,
.favorite.added:focus {
  background-color: #6C9E42;
}

.favorite.added:active span {
  opacity: 30%;
}

.product-card .more {
  display: block;
  padding: 8px 5px;
  margin: 0;
  font-family: inherit;
  color:#FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

.stars {
  background-image: url("../images/icons/star-icon.svg");
  min-height: 17px;
  background-position: left;
  background-repeat: space no-repeat;
}

.product-card.amara .stars{
  width: 89px;
}

.product-card.villas .stars{
  width: 89px;
}

.product-card.desert .stars{
  width: 66px;
}

.product-card.greentree .stars{
  width: 42px;
}

.rating {
  text-transform: uppercase;
  display: block;
  padding: 8px 0;
  margin: 0;
  text-align: center;
  color:#333333;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.pagination {
  list-style: none;
  margin: 0 70px 60px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination-link:not(.disabled):hover,
.pagination-link:not(.disabled):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.disabled):active span {
  opacity: 30%;
}

.pagination-current,
.pagination-link.disabled {
  color:#000000;
  background: #F2F2F2;
}

.main-subscription.catalog {
  background-image: none;
  background-color: inherit;
  color: #000000;
}

.main-subscription.catalog h2 {
  color: #000000;
}

.main-subscription.catalog p {
  color: #333333;
}
